* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#578deb, #51dd7f);
}

.flower-1__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100vh;
  bottom: 0px;
  left: 15vw;
}
.flower-1__petals {
  position: absolute;
  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 0 100%;
  background: linear-gradient(rgb(181, 221, 73), rgb(198, 35, 35));
  transform-origin: bottom center;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 2.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.flower-1__petals--1 {
  transform: rotate(45deg);
  transform-origin: 80px 100px;
}
.flower-1__petals--2 {
  transform: rotate(90deg);
  transform-origin: 80px 100px;
}
.flower-1__petals--3 {
  transform: rotate(135deg);
  transform-origin: 80px 100px;
}
.flower-1__petals--4 {
  transform: rotate(180deg);
  transform-origin: 80px 100px;
}
.flower-1__petals--5 {
  transform: rotate(225deg);
  transform-origin: 80px 95px;
}
.flower-1__petals--6 {
  transform: rotate(270deg);
  transform-origin: 80px 100px;
}
.flower-1__petals--7 {
  transform: rotate(315deg);
  transform-origin: 80px 100px;
}
.flower-1__petals--8 {
  transform-origin: 80px 100px;
}
@keyframes bloom {
  0% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
  }
}
.flower-1__center {
  position: absolute;
  border-radius: 100%;
  opacity: 0;
  top: 52vh;
  left: 155px;
  width: 50px;
  height: 50px;
  background-color: bisque;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 2.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.flower-1__stem {
  position: absolute;
  width: 18px;
  height: 45vh;
  background-color: green;
  left: 165px;
  bottom: 0;
  background: linear-gradient(rgba(181, 221, 73, 0.1), rgb(6, 69, 2));
  transform-origin: bottom left;
  animation: grow 3s forwards;
  animation-iteration-count: 1;
}
@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
.flower-1__leaf {
  position: absolute;
  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 0 100%;
  background: linear-gradient(rgb(66, 101, 70), rgb(2, 36, 15));
  transform-origin: bottom center;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 2.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.flower-1__leaf--1 {
  transform: rotate(130deg);
  bottom: 200px;
}
.flower-1__leaf--2 {
  transform: rotate(-40deg);
  bottom: 250px;
  left: -87px;
}

.flower-2__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100vh;
  bottom: 0px;
  left: 55vw;
}
.flower-2__petals {
  position: absolute;
  opacity: 0;
  height: 100px;
  width: 100px;
  top: 30vh;
  border-radius: 0 100%;
  background: linear-gradient(rgb(181, 221, 73), rgb(198, 35, 35));
  transform-origin: bottom center;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 5.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.flower-2__petals--1 {
  transform: rotate(45deg);
  transform-origin: 80px 100px;
}
.flower-2__petals--2 {
  transform: rotate(90deg);
  transform-origin: 80px 100px;
}
.flower-2__petals--3 {
  transform: rotate(135deg);
  transform-origin: 80px 100px;
}
.flower-2__petals--4 {
  transform: rotate(180deg);
  transform-origin: 80px 100px;
}
.flower-2__petals--5 {
  transform: rotate(225deg);
  transform-origin: 80px 95px;
}
.flower-2__petals--6 {
  transform: rotate(270deg);
  transform-origin: 80px 100px;
}
.flower-2__petals--7 {
  transform: rotate(315deg);
  transform-origin: 80px 100px;
}
.flower-2__petals--8 {
  transform-origin: 80px 100px;
}
@keyframes bloom {
  0% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
  }
}
.flower-2__center {
  position: absolute;
  border-radius: 100%;
  opacity: 0;
  top: 37vh;
  left: 155px;
  width: 50px;
  height: 50px;
  background-color: bisque;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 5.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.flower-2__stem {
  position: absolute;
  opacity: 0;
  width: 18px;
  height: 60vh;
  background-color: green;
  left: 165px;
  bottom: 0;
  background: linear-gradient(rgba(181, 221, 73, 0.1), rgb(6, 69, 2));
  transform-origin: bottom left;
  animation: grow 3s forwards;
  animation-delay: 3.5s;
  animation-iteration-count: 1;
}
@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
.flower-2__leaf {
  position: absolute;
  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 0 100%;
  background: linear-gradient(rgb(66, 101, 70), rgb(2, 36, 15));
  transform-origin: bottom center;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 5.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.flower-2__leaf--1 {
  transform: rotate(130deg);
  bottom: 300px;
}
.flower-2__leaf--2 {
  transform: rotate(-40deg);
  bottom: 450px;
  left: -87px;
}

.flower-3__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100vh;
  bottom: 0px;
  left: 70vw;
}
.flower-3__petals {
  position: absolute;
  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 0 100%;
  background: linear-gradient(rgb(181, 221, 73), rgb(198, 35, 35));
  transform-origin: bottom center;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 4.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.flower-3__petals--1 {
  transform: rotate(45deg);
  transform-origin: 80px 100px;
}
.flower-3__petals--2 {
  transform: rotate(90deg);
  transform-origin: 80px 100px;
}
.flower-3__petals--3 {
  transform: rotate(135deg);
  transform-origin: 80px 100px;
}
.flower-3__petals--4 {
  transform: rotate(180deg);
  transform-origin: 80px 100px;
}
.flower-3__petals--5 {
  transform: rotate(225deg);
  transform-origin: 80px 95px;
}
.flower-3__petals--6 {
  transform: rotate(270deg);
  transform-origin: 80px 100px;
}
.flower-3__petals--7 {
  transform: rotate(315deg);
  transform-origin: 80px 100px;
}
.flower-3__petals--8 {
  transform-origin: 80px 100px;
}
@keyframes bloom {
  0% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
  }
}
.flower-3__center {
  position: absolute;
  border-radius: 100%;
  opacity: 0;
  top: 52vh;
  left: 155px;
  width: 50px;
  height: 50px;
  background-color: bisque;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 4.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.flower-3__stem {
  position: absolute;
  opacity: 0;
  width: 18px;
  height: 45vh;
  background-color: green;
  left: 165px;
  bottom: 0;
  background: linear-gradient(rgba(181, 221, 73, 0.1), rgb(6, 69, 2));
  transform-origin: bottom left;
  animation-delay: 2s;
  animation-name: grow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
.flower-3__leaf {
  position: absolute;
  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 0 100%;
  background: linear-gradient(rgb(66, 101, 70), rgb(2, 36, 15));
  transform-origin: bottom center;
  z-index: 1;
  animation-name: bloom;
  animation-delay: 4.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.flower-3__leaf--1 {
  transform: rotate(130deg);
  bottom: 200px;
}
.flower-3__leaf--2 {
  transform: rotate(-40deg);
  bottom: 250px;
  left: -87px;
}

.sun {
  position: absolute;
  background-color: rgb(248, 248, 34);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 20px rgb(255, 221, 0);
  animation-name: sun_moving;
  animation-duration: 13s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes sun_moving {
  from {
    top: 60vh;
    left: 0vw;
  }
  to {
    top: 10vh;
    left: 80vw;
  }
}

.sveikinimas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 10vh;
  left: 5vw;
  gap: 4rem;
}
.sveikinimas__raide {
  font-size: 7rem;
  color: beige;
  animation-name: sveikinimas;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0;
}
.sveikinimas__raide--S {
  animation-delay: 5s;
}
.sveikinimas__raide--V {
  animation-delay: 5.5s;
}
.sveikinimas__raide--E {
  animation-delay: 6s;
}
.sveikinimas__raide--I {
  animation-delay: 6s;
}
.sveikinimas__raide--K {
  animation-delay: 5s;
}
.sveikinimas__raide--I {
  animation-delay: 5.5s;
}
.sveikinimas__raide--N {
  animation-delay: 6.5s;
}
.sveikinimas__raide--U {
  animation-delay: 6s;
}
.sveikinimas__raide--Ex {
  animation-delay: 5.5s;
}
@keyframes sveikinimas {
  from {
    transform: scaleX(0.1);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}/*# sourceMappingURL=styles.css.map */